body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-top: 10px;
  font-family: Georgia, serif;
  margin-bottom: 50px;
}

header {
  position: relative;
}

header img {
  width: 100%;
  position: relative;
}

h1 {
  font-size: 75px;
  color: white;
  font-family: 'Shift', sans-serif;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  margin: 0;
  text-shadow: black 0 0 10px;
}

h2 {
  padding-top: 10px;
  color: green;
  font-family: 'Shift', sans-serif;
}

h3 {
  font-family: 'Shift', sans-serif;
  color: black;
}

a {
  color: blue;
  text-decoration: none;
}

.map-container {
  padding-bottom: 60%;
  position: relative;
  height: 0;
}

.map-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

table.schedule td:last-child {
  padding-left: 10px;
}

@media screen and (max-device-width: 600px) {
  /* necessary to support iphone */

  h1 {
    font-size: 10vw;
  }

  h2 {
    padding-top: initial;
    margin-bottom: 1vw;
  }

  .map-container {
    margin-bottom: 25px;
  }

  main {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  table.schedule td:last-child {
    padding-left: 2vw;
  }

  table.schedule tr:not(:last-child) td {
    padding-bottom: 3vw;
  }
}
