body {
  max-width: 1000px;
  margin-left: auto;
  margin-right:auto;
}

.content {
  font-family: Georgia, serif;
}

.footer img {
  padding-bottom: 10px;
}

h1 {
  font-size: 58px;
  color: red;
  font-family: 'Shift', sans-serif;
}

h2 {
  padding-top:10px;
  color: red;
  font-family: 'Shift', sans-serif;
}

a {
  color:blue;
}

.ref {
  text-decoration:none;
  color:red;
  font-weight: bold;
}

.important {
  font-weight: bold;
  font-size: 1.5em;
}

.slightly-important {
  font-weight: bold;
  font-size: 1.2em;
}

@media screen and (max-device-width: 600px) {
  /* This section for mobile phones; only necessary because of bloody iphones */

  h1 {
    vertical-align: middle;
    font-size: 5.9vw;
  }

  h2 {
    padding-top: initial;
    margin-bottom: 1vw;
    font-size: 5vw;
  }

  .en .content {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .title img {
    height: 7vw;
  }

  .footer img {
    height: 7vw;
  }

}
